#mahmoudBox{
  border: 5px solid red;
  width: 30%;
  height: 10%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: yellow;
border-radius: 10px;
position: absolute;
top: 45%;
left: 35%;
}
#mahmoudBox:hover{
  background-color: green;
transform:rotate();
}